services:
  client:
    container_name: client
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - ./apps/client:/usr/src/apps/client
      - pnpm_node_modules_cache:/usr/src/node_modules
      - ./packages/shared:/usr/src/packages/shared
    command: pnpm --filter ./apps/client dev

    ports:
      - 3000:3000
    networks:
      - auth_net
    depends_on:
      server:
        condition: service_healthy
    logging:
      driver: local
      options:
        max-size: '5mb'
        max-file: '3'

  server:
    container_name: server
    build:
      context: .
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    stop_signal: SIGTERM
    stop_grace_period: 30s
    volumes:
      - ./apps/server:/usr/src/apps/server
      - pnpm_node_modules_cache:/usr/src/node_modules
      - ./packages/shared:/usr/src/packages/shared
    ports:
      - 5000:5000
    env_file:
      - ./apps/server/.env.dev
    networks:
      - auth_net
    command: pnpm --filter ./apps/server dev
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--quiet',
          '--tries=1',
          '--spider',
          'http://localhost:5000/api/v1/health',
        ]
      interval: 10m
      timeout: 5s
      retries: 5
      start_period: 3s
    depends_on:
      postgres:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully
    logging:
      driver: local
      options:
        max-size: '5mb'
        max-file: '3'

  migrator:
    container_name: migrator
    build:
      context: .
      dockerfile: Dockerfile.dev
    restart: 'no'
    volumes:
      - ./apps/server:/apps/server
    env_file:
      - ./apps/server/.env.dev
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - auth_net
    command: sh -c "pnpm --filter ./apps/server drizzle:push"
    logging:
      driver: local
      options:
        max-size: '5mb'
        max-file: '3'

  postgres:
    image: postgres:18.1-alpine
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_PASSWORD=root
      - POSTGRES_USER=manson
      - POSTGRES_DB=auth_db
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - 5432:5432
    networks:
      - auth_net
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB']
      interval: 5s
      timeout: 15s
      retries: 5
      start_period: 3s
    logging:
      driver: local
      options:
        max-size: '5mb'
        max-file: '3'

volumes:
  pnpm_node_modules_cache:
  postgres_data:

networks:
  auth_net:
